# Preprocessing

In [2]:
import pandas as pd
df_clothes = pd.DataFrame(data = 
                     [['green','M',10,'shirt'],
                      ['blue','L',20,'pants'],
                      ['white','M',30,'shirt']])
df_clothes.columns = ['color','size','price','type']
df_clothes

   color size  price   type
0  green    M     10  shirt
1   blue    L     20  pants
2  white    M     30  shirt

In [3]:
#have 1 for S
#size is ordinal, so it can be encoded
size_map = {'S':1,'M':2,'L':3}
df_clothes['size'] = df_clothes['size'].map(size_map)
df_clothes

   color  size  price   type
0  green     2     10  shirt
1   blue     3     20  pants
2  white     2     30  shirt

In [4]:
#nominal values
from sklearn.preprocessing import LabelEncoder
class_labels = LabelEncoder()
df_clothes['type']=class_labels.fit_transform(df_clothes['type'].values)
df_clothes

   color  size  price  type
0  green     2     10     1
1   blue     3     20     0
2  white     2     30     1

In [5]:
#one hot encoding - easiest way
#it wont work if you have data that is already numerical. It will just skip over it.
df_clothes = pd.get_dummies(df_clothes[['color','size','price']])
df_clothes

   size  price  color_blue  color_green  color_white
0     2     10           0            1            0
1     3     20           1            0            0
2     2     30           0            0            1