In [6]:
def fibonacci():
    n1 = 0
    n2 = 1
    start = 0
    while start < 25:
        print(n1)
        total = n1 + n2
        n1 = n2
        n2 = total
        start += 1 

fibonacci()

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368

In [67]:
double_trouble = ['cat', 'dog', ['mouse','mosquito','bat','mosquito'],['elephant','dog','whale','lion',32,'mosquito'],'bird',[],'mosquitoe']
newdouble_trouble = []
for name in double_trouble:
    for word in name:
        if word != 'mosquito':
            newdouble_trouble.append(word)
print(newdouble_trouble)

['c', 'a', 't', 'd', 'o', 'g', 'mouse', 'bat', 'elephant', 'dog', 'whale', 'lion', 32, 'b', 'i', 'r', 'd', 'm', 'o', 's', 'q', 'u', 'i', 't', 'o', 'e']

In [82]:
phone_numbers = {'Jill':'1-)555(-567-8910',
                'Jen':'1-)555(-567-8910',
                'Jan':'1-)555(-567-8910',
                'Jane':'1-)555(-567-8910',
                'Jerri':'1-)555(-567-8910'}

for name, number in phone_numbers.items():
    phone_numbers[name].replace(')555(', '(555)')
    print(name, number)
    
#for name, number in phone_numbers.items():
    #phone_numbers[name] = '1-(555)-567-8910'
    #print(name,number)

Jill 1-)555(-567-8910
Jen 1-)555(-567-8910
Jan 1-)555(-567-8910
Jane 1-)555(-567-8910
Jerri 1-)555(-567-8910

In [51]:
double_trouble = ['cat', 'dog', ['mouse','mosquito','bat','mosquito'],['elephant','dog','whale','lion',32,'mosquito'],'bird',[],'mosquitoe']

i = 0
#for name in double_trouble:
    #if name[i] == 'mosquito':

In [52]:
def isvalid(name):
    true_alphanumeric = ""
    for symbols in name:
        if name.isalnum():
            true_alphanumeric = "".join(true_alphanumeric)
    print(true_alphanumeric)

isvalid("yewande_taiwo!26")