In [13]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from pprint import pprint
import requests
import statistics
import time
import quandl  #Used for data import
quandl.ApiConfig.api_key = 'vxSYNGB-9owcVsRx_SEF'
pd.set_option('display.max_colwidth', None)
import psycopg2
import io
from sqlalchemy import create_engine

### Importing data using quandl library:

In [14]:
# Table 1: Zillow Indicators:
zillow_ind=quandl.get_table('ZILLOW/INDICATORS',paginate=True)
zillow_ind.head()

,indicator_id,indicator,category
None,,,
0,ZSFH,ZHVI Single-Family Homes Time Series ($),Home values
1,ZCON,ZHVI Condo/Co-op Time Series ($),Home values
2,ZATT,ZHVI All Homes- Top Tier Time Series ($),Home values
3,ZALL,"ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)",Home values
4,ZABT,ZHVI All Homes- Bottom Tier Time Series ($),Home values

In [15]:
# Table 2: Zillow Data:

zillow_data=quandl.get_table('ZILLOW/DATA', region_id='102001',paginate=True)
zillow_data.head()

     indicator_id region_id       date     value
None
0            ZSFH    102001 2021-04-30  280803.0
1            ZSFH    102001 2021-03-31  277043.0
2            ZSFH    102001 2021-02-28  273699.0
3            ZSFH    102001 2021-01-31  269769.0
4            ZSFH    102001 2020-12-31  265679.0

In [16]:
# Table 3: Zillow Regions:

zillow_regions=quandl.get_table('ZILLOW/REGIONS',paginate=True)
zillow_regions.head()

     region_id region_type                                           region
None
0        99999         zip   98847; WA; Wenatchee; Chelan County; Peshastin
1        99998         zip              98846; WA; Okanogan County; Pateros
2        99997         zip  98845; WA; Wenatchee; Douglas County; Palisades
3        99996         zip             98844; WA; Okanogan County; Oroville
4        99995         zip     98843; WA; Wenatchee; Douglas County; Orondo

####  Region table has data that does not follow database rules hence breaking down the region table in to multiple columns.

### Splitting region column:

In [17]:
# Assigning all the new columns to nulls and filtering data:
zillow_regions['zipcode'] = ''
zillow_regions['state'] = ''
zillow_regions['neigh'] = ''
zillow_regions['county'] = ''
zillow_regions['city'] = ''

#### Splitting zip region type data:

In [18]:
new=zillow_regions[zillow_regions['region_type']=='zip']['region'].str.split(';',n=4,expand=True)
for i in range(5):
    for j in new.index:
        if str(new[i][j]).isdigit():
            zillow_regions['zipcode'][j]=new[i][j]
        elif  len(str(new[i][j]))==3:
            zillow_regions['state'][j]=new[i][j]
        elif str(new[i][j]).find('-') != -1:
            zillow_regions['neigh'][j] = new[i][j]
        elif str(new[i][j]).find(' County') != -1:
            zillow_regions['county'][j] = new[i][j]
        elif str(new[i][j]).find(' Borough') != -1:
            zillow_regions['county'][j] = new[i][j]
        else:
            zillow_regions['city'][j]=new[i][j]

#### Splitting "city" region type data:

In [44]:
new_c=zillow_regions[zillow_regions['region_type']=='city']['region'].str.split(';',n=4,expand=True)
for i in range(1,4):
    for j in new_c.index:
        if str(new_c[i][j]).isdigit():
            zillow_regions['zipcode'][j]=new_c[i][j]
        elif  len(str(new_c[i][j]))==3:
            zillow_regions['state'][j]=new_c[i][j]
        elif str(new_c[i][j]).find('-') != -1:
            zillow_regions['neigh'][j] = new_c[i][j]
        elif str(new_c[i][j]).find(' County') != -1:
            zillow_regions['county'][j] = new_c[i][j]
        elif str(new_c[i][j]).find(' Borough') != -1:
            zillow_regions['county'][j] = new_c[i][j]
        else:
            zillow_regions['city'][j]=new_c[i][j]

In [45]:
new_c=zillow_regions[zillow_regions['region_type']=='city']['region'].str.split(';',n=4,expand=True)
for i in range(0,1):
    for j in new_c.index:
        if str(new_c[i][j]).isdigit():
            zillow_regions['zipcode'][j]=new_c[i][j]
        elif  len(str(new_c[i][j]))==3:
            zillow_regions['state'][j]=new_c[i][j]
        elif str(new_c[i][j]).find('-') != -1:
            zillow_regions['neigh'][j] = new_c[i][j]
        elif str(new_c[i][j]).find(' County') != -1:
            zillow_regions['county'][j] = new_c[i][j]
        elif str(new_c[i][j]).find(' Borough') != -1:
            zillow_regions['county'][j] = new_c[i][j]
        else:
            zillow_regions['city'][j]=new_c[i][j]

#### Splitting "neigh" region type data:

In [22]:
new_n=zillow_regions[zillow_regions['region_type']=='neigh']['region'].str.split(';',n=4,expand=True)
for i in range(4):
    for j in new_n.index:
        if str(new_n[i][j]).isdigit():
            zillow_regions['zipcode'][j]=new_n[i][j]
        elif  len(str(new_n[i][j]))==3:
            zillow_regions['state'][j]=new_n[i][j]
        elif str(new_n[i][j]).find('-') != -1:
            zillow_regions['neigh'][j] = new_n[i][j]
        elif str(new_n[i][j]).find(' County') != -1:
            zillow_regions['county'][j] = new_n[i][j]
        elif str(new_n[i][j]).find(' Borough') != -1:
            zillow_regions['county'][j] = new_n[i][j]
        else:
            zillow_regions['city'][j]=new_n[i][j]

#### Splitting "metro" region type data:

In [34]:
new_m1=zillow_regions[zillow_regions['region_type']=='metro']['region'].str.split(';',n=1,expand=True)
new_m=new_m1[0].str.split(',',n=2,expand=True)
for i in range(2):
    for j in new_m.index:
        if str(new_m[i][j]).isdigit():
            zillow_regions['zipcode'][j]=new_m[i][j]
        elif  len(str(new_m[i][j]))==3:
            zillow_regions['state'][j]=new_m[i][j]
        elif  len(str(new_m[i][j]))==2:
            zillow_regions['state'][j]=new_m[i][j]
        elif str(new_m[i][j]).find('-') != -1:
            zillow_regions['neigh'][j] = new_m[i][j]
        elif str(new_m[i][j]).find(' County') != -1:
            zillow_regions['county'][j] = new_m[i][j]
        elif str(new_m[i][j]).find(' Borough') != -1:
            zillow_regions['county'][j] = new_m[i][j]
        else:
            zillow_regions['city'][j]=new_m[i][j]

#### Splitting "state" region type data:

In [26]:
new_s=zillow_regions[zillow_regions['region_type']=='state']['region'].str.split(';',n=1,expand=True)
for i in range(2):
    for j in new_s.index:
        if str(new_s[i][j]).isdigit():
            zillow_regions['zipcode'][j]=new_s[i][j]
        elif  len(str(new_s[i][j]))==3:
            zillow_regions['state'][j]=new_s[i][j]
        elif str(new_s[i][j]).find('-') != -1:
            zillow_regions['neigh'][j] = new_s[i][j]
        elif str(new_s[i][j]).find(' County') != -1:
            zillow_regions['county'][j] = new_s[i][j]
        elif str(new_s[i][j]).find(' Borough') != -1:
            zillow_regions['county'][j] = new_s[i][j]
        else:
            zillow_regions['city'][j]=new_s[i][j]

In [39]:
# All the information from region column is extracted and the dropped

zillow_regions.drop('region',axis=1,inplace=True)

In [53]:
zillow_regions[zillow_regions['region_type']=='zip']

,region_id,region_type,region,zipcode,state,neigh,county,city
None,,,,,,,,
0,99999,zip,98847; WA; Wenatchee; Chelan County; Peshastin,98847,WA,,Chelan County,Peshastin
1,99998,zip,98846; WA; Okanogan County; Pateros,98846,WA,,Okanogan County,None
2,99997,zip,98845; WA; Wenatchee; Douglas County; Palisades,98845,WA,,Douglas County,Palisades
3,99996,zip,98844; WA; Okanogan County; Oroville,98844,WA,,Okanogan County,None
4,99995,zip,98843; WA; Wenatchee; Douglas County; Orondo,98843,WA,,Douglas County,Orondo
...,...,...,...,...,...,...,...,...
79165,100004,zip,98852; WA; Okanogan County; Winthrop,98852,WA,,Okanogan County,None
79166,100003,zip,98851; WA; Moses Lake; Grant County; Soap Lake,98851,WA,,Grant County,Soap Lake
79167,100002,zip,98850; WA; Wenatchee; Douglas County; Rock Island,98850,WA,,Douglas County,Rock Island
79168,100001,zip,98849; WA; Okanogan County; Riverside,98849,WA,,Okanogan County,None
79169,100000,zip,98848; WA; Moses Lake; Grant County; Quincy,98848,WA,,Grant County,Quincy

## Connecting to the postgress and creating zillow database:

### Creating  staging tables and database tables:

In [19]:
# Connecing to Postgress Database:


def create_tables():
    """ create tables in the PostgreSQL database"""
    
    commands = (
    """
    CREATE TABLE stg_zillow_ind(
    stg_indicator_id CHAR(5),
    stg_indicator VARCHAR(255),
    stg_category VARCHAR(255)
                                )
    """,
    """
    CREATE TABLE stg_zillow_region(
    stg_region_id INTEGER,
    stg_region_type VARCHAR(255),
    stg_region VARCHAR(255),
    stg_zipcode CHAR(10),
    stg_state CHAR(5),
    stg_county VARCHAR(255),
    stg_city VARCHAR(255),
    stg_neigh VARCHAR(255)
                                  )
    """,
    """
    CREATE TABLE stg_zillow_data(
    stg_ind_id CHAR(5),
    stg_reg_id INTEGER,
    stg_date DATE,
    stg_value MONEY
                                )
    """,
    """
    CREATE TABLE category(
    category_id SERIAL PRIMARY KEY,
    category_name VARCHAR(255) NOT NULL
                        )
    """,
    """ 
    CREATE TABLE zindicator(
    zind_id SERIAL PRIMARY KEY,
    indicator_name CHAR(5) NOT NULL,
    indicator VARCHAR(255) NOT NULL,
    category_id SERIAL REFERENCES category(category_id)
                        )
    """,
    """
    CREATE TABLE regtype(
    regtype_id SERIAL PRIMARY KEY,
    regtype_name VARCHAR(255) NOT NULL
                        )
    """,
    """
    CREATE TABLE region(
    region_id SERIAL PRIMARY KEY,
    region_num INTEGER,
    regtype_id SERIAL REFERENCES regtype(regtype_id),
    neigh VARCHAR(255),
    city VARCHAR(255),
    county VARCHAR(255),
    state CHAR(5),
    zip CHAR(10)
                           )
    """,
    """
    CREATE TABLE zdata(
    zdata SERIAL PRIMARY KEY,
    region_id SERIAL REFERENCES region(region_id),
    zind_id SERIAL REFERENCES zindicator(zind_id),
    zdate DATE,
    value MONEY
                      )
    """)

    conn = None

    
    try:
    
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur = conn.cursor()
        print("cursor")

       
        for command in commands:
            cur.execute(command)
        print("Tables Created")
        
        cur.close()
        print("Connection Closed")
        
        conn.commit()
        print("Tables Saved/Commited")

    except:
        print("Error Loading")

    
if __name__ == '__main__':
    create_tables()

Error Loading

### Loading data for staging tables:

In [11]:
# Loading Zillow Indicators table:

engine = create_engine('yewandetaiwo+psycopg2://postgres:yewandetaiwo@127.0.0.1:5432/zillow')

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
zillow_ind.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'stg_zillow_ind', null="")
conn.commit()
print("stg_zillow_ind data loaded")
cur.close()
print("Connection Closed")

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:yewandetaiwo.psycopg2

In [12]:
# Loading Zillow Regions table:

engine = create_engine('postgresql+psycopg2://postgres:postgresql@127.0.0.1:5432/zillow')

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
zillow_regions.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'stg_zillow_region', null="")
conn.commit()
print("stg_zillow_region data loaded")
cur.close()
print("Connection Closed")

stg_zillow_region data loaded
Connection Closed

In [13]:
# Loading Zillow Data Column:

engine = create_engine('postgresql+psycopg2://postgres:postgresql@127.0.0.1:5432/zillow')

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
zillow_data.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'stg_zillow_data', null="")
conn.commit()
print("stg_zillow_data data loaded")
cur.close()
print("Connection Closed")

stg_zillow_data data loaded
Connection Closed

### Loading data in to database table:

### Inserting data in to categories Table:

In [14]:
print("Gathering input values")
        
cur = conn.cursor()
print("cusor1")

cur.execute("SELECT distinct(stg_category) FROM stg_zillow_ind;")

print("The number of parts: ", cur.rowcount)

cat_records = cur.fetchall()
print(cat_records)

def insert_category(cat_records):
    """ query data from the staging tables """
    conn = None
    sql= "INSERT INTO category(category_name) VALUES(%s)"
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur1 = conn.cursor()
        print("cusor")
           
        cur1.executemany(sql,cat_records)
        print("Executed all records")

        conn.commit()
        print("Tables Saved/Commited")
        
        
        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()



if __name__ == '__main__':
    
    insert_category(cat_records)

Gathering input values
cusor1
The number of parts:  3
[('Inventory and sales',), ('Rentals',), ('Home values',)]
Database opened successfully
cusor
Executed all records
Tables Saved/Commited
Database Connetion Closed Sucessfully

### Inserting data in to zindicator table:

In [15]:
def insert_zindicator(rows):
    """ query data from the staging tables """
    conn = None
    sql= "INSERT INTO zindicator(indicator_name,indicator,category_id) VALUES(%s,%s,%s)"
        
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur1 = conn.cursor()
        print("cusor1")
           
        cur1.executemany(sql,rows)
        print("Executed all records")

        conn.commit()
        print("Tables Saved/Commited")
        
        
        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()



if __name__ == '__main__':
        
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")
        cur = conn.cursor()
        cur.execute("select stg_zillow_ind.stg_indicator_id,stg_zillow_ind.stg_indicator, category.category_id from stg_zillow_ind inner join category on stg_zillow_ind.stg_category = category.category_name;")
        rows = cur.fetchall()
        print("The number of parts: ", cur.rowcount)
        cur.close()
        insert_zindicator(rows)

Database opened successfully
The number of parts:  56
Database opened successfully
cusor1
Executed all records
Tables Saved/Commited
Database Connetion Closed Sucessfully

### Inserting data in to regtype table:

In [16]:
print("Gathering input values for regtype table")
        
cur = conn.cursor()
print("cusor")

cur.execute("SELECT distinct(stg_region_type) FROM stg_zillow_region;")

print("The number of parts: ", cur.rowcount)

reg_records = cur.fetchall()
print(reg_records)

def insert_regtype(reg_records):
    """ inserting data """
    conn = None
    sql= "INSERT INTO regtype(regtype_name) VALUES(%s)"
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur1 = conn.cursor()
        print("cusor")
           
        cur1.executemany(sql,reg_records)
        print("Executed all records")

        conn.commit()
        print("Tables Saved/Commited")
        
        
        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()



if __name__ == '__main__':
    
    insert_regtype(reg_records)

Gathering input values for regtype table
cusor
The number of parts:  6
[('zip',), ('city',), ('metro',), ('county',), ('state',), ('neigh',)]
Database opened successfully
cusor
Executed all records
Tables Saved/Commited
Database Connetion Closed Sucessfully

### Inserting data in to region table:

In [20]:

def insert_region(reg):
    """ query data from the staging tables """
    conn = None
    sql= "INSERT INTO region(region_num,regtype_id,zip,state,county,city,neigh) VALUES(%s,%s,%s,%s,%s,%s,%s)"
        
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur1 = conn.cursor()
        print("cusor1")
           
        cur1.executemany(sql,reg)
        print("Executed all records")

        conn.commit()
        print("Tables Saved/Commited")
        
        
        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()



if __name__ == '__main__':
        
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")
        cur = conn.cursor()
        cur.execute("select stg_zillow_region.stg_region_id,regtype.regtype_id,stg_zillow_region.stg_zipcode,stg_zillow_region.stg_state,stg_zillow_region.stg_county,stg_zillow_region.stg_city,stg_zillow_region.stg_neigh from stg_zillow_region inner join regtype on regtype.regtype_name = stg_zillow_region.stg_region_type;")
        reg = cur.fetchall()
        print("The number of parts: ", cur.rowcount)
        cur.close()
        insert_datatables(reg)

Database opened successfully
The number of parts:  79174
Database opened successfully
cusor1
not all arguments converted during string formatting

### Inserting data in to zdata table:

In [19]:
def insert_zdata(rows):
    """ query data from the staging tables """
    conn = None
    sql= "INSERT INTO zdata(zind_id,region_id,zdate,value) VALUES(%s,%s,%s,%s);"
        
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur1 = conn.cursor()
        print("cusor1")
           
        cur1.executemany(sql,rows)
        print("Executed all records")

        conn.commit()
        print("Tables Saved/Commited")
        
        
        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()



if __name__ == '__main__':
        
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")
        cur = conn.cursor()
        cur.execute("select stg_date,stg_value, zindicator.zind_id,region.region_num from stg_zillow_data inner join zindicator on zindicator.indicator_name = stg_zillow_data.stg_ind_id inner join region on region.region_num = stg_zillow_data.stg_reg_id;")
        rows = cur.fetchall()
        print("The number of parts: ", cur.rowcount)
        cur.close()
        insert_zdata(rows)

Database opened successfully
The number of parts:  0
Database opened successfully
cusor1
Executed all records
Tables Saved/Commited
Database Connetion Closed Sucessfully

### Query 1:

In [107]:
def query1():
    """ query data from the staging tables """
    conn = None
    try:
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")

        cur = conn.cursor()
        print("cusor")
    
        cur.execute("select * from stg_zillow_ind where stg_indicator_id='ZSFH';")
        
        print("1")
        conn.commit()
        print("Tables Saved/Commited")
        
        print("The number of parts: ", cur.rowcount)
        
        
        cat_records = cur.fetchall()
        
        
        for row in cat_records:
            print("stg_indicator_id = ", row[0], )
            print("stg_indicator = ", row[1])
            print("stg_category =",row[2])
            
        
        print("2")

        cur1 = conn.cursor()
        print("cusor")
        cur1.execute("select * from stg_zillow_ind;")
        
        conn.commit()
        print("Tables Saved/Commited")
        
        print("The number of parts: ", cur1.rowcount)
        
        
        cat_records = cur1.fetchall()
        
        
        for row in cat_records:
            print("stg_indicator_id = ", row[0], )
            print("stg_indicator = ", row[1])
            print("stg_category =",row[2])

        cur1.close()
        print("Database Connetion Closed Sucessfully")
        
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

if __name__ == '__main__':
    query1()

Database opened successfully
cusor
1
Tables Saved/Commited
The number of parts:  1
stg_indicator_id =  ZSFH
stg_indicator =  ZHVI Single-Family Homes Time Series ($)
stg_category = Home values
2
cusor
Tables Saved/Commited
The number of parts:  56
stg_indicator_id =  ZSFH
stg_indicator =  ZHVI Single-Family Homes Time Series ($)
stg_category = Home values
stg_indicator_id =  ZCON
stg_indicator =  ZHVI Condo/Co-op Time Series ($)
stg_category = Home values
stg_indicator_id =  ZATT
stg_indicator =  ZHVI All Homes- Top Tier Time Series ($)
stg_category = Home values
stg_indicator_id =  ZALL
stg_indicator =  ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)
stg_category = Home values
stg_indicator_id =  ZABT
stg_indicator =  ZHVI All Homes- Bottom Tier Time Series ($)
stg_category = Home values
stg_indicator_id =  Z5BR
stg_indicator =  ZHVI 5+ Bedroom Time Series ($)
stg_category = Home values
stg_indicator_id =  Z4BR
stg_indicator =  ZHVI 4-Bedroom Time Series ($)
stg_category = Home values
stg_indicator_id =  Z3BR
stg_indicator =  ZHVI 3-Bedroom Time Series ($)
stg_category = Home values
stg_indicator_id =  Z2BR
stg_indicator =  ZHVI 2-Bedroom Time Series ($)
stg_category = Home values
stg_indicator_id =  Z1BR
stg_indicator =  ZHVI 1-Bedroom Time Series ($)
stg_category = Home values
stg_indicator_id =  SSSW
stg_indicator =  Median Sale Price (Smooth, SFR only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  SSSM
stg_indicator =  Median Sale Price (Smooth, SFR only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  SSAW
stg_indicator =  Median Sale Price (Smooth, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  SSAM
stg_indicator =  Median Sale Price (Smooth, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  SRSW
stg_indicator =  Median Sale Price (Raw, SFR only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  SRSM
stg_indicator =  Median Sale Price (Raw, SFR only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  SRAW
stg_indicator =  Median Sale Price (Raw, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  SRAM
stg_indicator =  Median Sale Price (Raw, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  SASW
stg_indicator =  Median Sale Price (Smooth & Seasonally Adjusted, SFR only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  SASM
stg_indicator =  Median Sale Price (Smooth & Seasonally Adjusted, SFR only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  SAAW
stg_indicator =  Median Sale Price (Smooth & Seasonally Adjusted, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  SAAM
stg_indicator =  Median Sale Price (Smooth & Seasonally Adjusted, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  RSSA
stg_indicator =  ZORI (Smoothed, Seasonally Adjusted): All Homes Plus Multifamily Time Series ($)
stg_category = Rentals
stg_indicator_id =  RSNA
stg_indicator =  ZORI (Smoothed): All Homes Plus Multifamily Time Series ($)
stg_category = Rentals
stg_indicator_id =  NSAW
stg_indicator =  Median Days to Pending (Smooth, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  NSAM
stg_indicator =  Median Days to Pending (Smooth, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  NRAW
stg_indicator =  Median Days to Pending (Raw, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  NRAM
stg_indicator =  Median Days to Pending (Raw, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  MSAW
stg_indicator =  Mean Days to Pending (Smooth, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  MSAM
stg_indicator =  Mean Days to Pending (Smooth, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  MRAW
stg_indicator =  Mean Days to Pending (Raw, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  MRAM
stg_indicator =  Mean Days to Pending (Raw, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  LSSW
stg_indicator =  Median List Price (Smooth, SFR Only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  LSSM
stg_indicator =  Median List Price (Smooth, SFR Only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  LSAW
stg_indicator =  Median List Price (Smooth, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  LSAM
stg_indicator =  Median List Price (Smooth, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  LRSW
stg_indicator =  Median List Price (Raw, SFR Only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  LRSM
stg_indicator =  Median List Price (Raw, SFR Only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  LRAW
stg_indicator =  Median List Price (Raw, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  LRAM
stg_indicator =  Median List Price (Raw, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  ISSW
stg_indicator =  For-Sale Inventory (Smooth, SFR only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  ISSM
stg_indicator =  For-Sale Inventory (Smooth, SFR only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  ISAW
stg_indicator =  For-Sale Inventory (Smooth, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  ISAM
stg_indicator =  For-Sale Inventory (Smooth, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  IRSW
stg_indicator =  For-sale Inventory (Raw, SFR only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  IRSM
stg_indicator =  For-sale Inventory (Raw, SFR only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  IRAW
stg_indicator =  For-Sale Inventory (Raw, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  IRAM
stg_indicator =  For-Sale Inventory (Raw, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  CSSW
stg_indicator =  Share of Listings With a Price Cut (Smooth, SFR Only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  CSSM
stg_indicator =  Share of Listings With a Price Cut (Smooth, SFR Only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  CSAW
stg_indicator =  Share of Listings With a Price Cut (Smooth, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  CSAM
stg_indicator =  Share of Listings With a Price Cut (Smooth, All Homes, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  CRSW
stg_indicator =  Share of Listings With a Price Cut (Raw, SFR Only, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  CRSM
stg_indicator =  Share of Listings With a Price Cut (Raw, SFR Only, Monthly)
stg_category = Inventory and sales
stg_indicator_id =  CRAW
stg_indicator =  Share of Listings With a Price Cut (Raw, All Homes, Weekly View)
stg_category = Inventory and sales
stg_indicator_id =  CRAM
stg_indicator =  Share of Listings With a Price Cut (Raw, All Homes, Monthly)
stg_category = Inventory and sales
Database Connetion Closed Sucessfully

### Query 2:

In [29]:
def query2():
    """ query  from table """
    conn = None
    try:
        
        conn = psycopg2.connect(database="zillow", user="postgres", password="postgresql", host="127.0.0.1", port="5432")
        print("Database opened successfully")
        cur = conn.cursor()
        cur.execute("select stg_zillow_ind.stg_indicator_id,stg_zillow_ind.stg_indicator, category.category_id from stg_zillow_ind inner join category on stg_zillow_ind.stg_category = category.category_name;")
        rows = cur.fetchall()
        print("The number of parts: ", cur.rowcount)
        return(rows)
        for row in rows:
            print(row)
        cur.close()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()

            
if __name__ == '__main__':
    query2()

Database opened successfully
The number of parts:  56

In [ ]:
select i.indicator_id,i.indicator_name,c.category_name from zindicator as i
inner join category as c
on c.category_id=i.category_id
where indicator_id='CRAM'

select c.category_id,c.category_name, i.indicator_id, i.indicator_name from category as c 
inner join zindicator as i
on c.category_id=i.category_id
where category_name='Inventory and sales'