In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from pprint import pprint
import requests
import statistics
import time
import quandl  #Used for data import
quandl.ApiConfig.api_key = 'vxSYNGB-9owcVsRx_SEF'
pd.set_option('display.max_colwidth', None)

In [3]:
zillow_reg=quandl.get_table('ZILLOW/DATA', region_id='102001',paginate=True)
zillow_reg

      indicator_id region_id       date        value
None
0             ZSFH    102001 2021-04-30  280803.0000
1             ZSFH    102001 2021-03-31  277043.0000
2             ZSFH    102001 2021-02-28  273699.0000
3             ZSFH    102001 2021-01-31  269769.0000
4             ZSFH    102001 2020-12-31  265679.0000
...            ...       ...        ...          ...
11477         CRAM    102001 2018-08-31       0.1768
11478         CRAM    102001 2018-07-31       0.1704
11479         CRAM    102001 2018-06-30       0.1556
11480         CRAM    102001 2018-05-31       0.1476
11481         CRAM    102001 2018-04-30       0.1316

[11482 rows x 4 columns]

In [4]:
zillow_reg[zillow_reg['indicator_id']=='ZATT']

     indicator_id region_id       date     value
None
608          ZATT    102001 2021-04-30  555747.0
609          ZATT    102001 2021-03-31  548297.0
610          ZATT    102001 2021-02-28  541849.0
611          ZATT    102001 2021-01-31  534166.0
612          ZATT    102001 2020-12-31  526592.0
...           ...       ...        ...       ...
907          ZATT    102001 1996-05-31  204171.0
908          ZATT    102001 1996-04-30  204076.0
909          ZATT    102001 1996-03-31  204038.0
910          ZATT    102001 1996-02-29  204032.0
911          ZATT    102001 1996-01-31  204091.0

[304 rows x 4 columns]

In [5]:
zillow_reg['indicator_id'].value_counts()

SAAW    675
SSSW    675
SRSW    675
SRAW    675
SSAW    675
SASW    675
ZATT    304
Z5BR    304
ZCON    304
Z4BR    304
ZABT    304
ZALL    304
ZSFH    304
Z1BR    304
Z2BR    304
Z3BR    304
IRAW    175
LRAW    175
IRSW    175
LSAW    175
ISSW    175
LRSW    175
ISAW    175
LSSW    175
CSAW    163
CSSW    163
SSAM    158
SRAM    158
SASM    158
SSSM    158
SAAM    158
SRSM    158
MSAW    150
CRSW    150
NSAW    150
CRAW    150
NRAW    150
MRAW    150
RSSA     88
RSNA     88
LRSM     43
ISSM     43
LSSM     43
IRSM     43
ISAM     43
IRAM     43
LRAM     43
LSAM     43
CSAM     40
CSSM     40
CRSM     37
CRAM     37
MRAM     36
MSAM     36
NRAM     36
NSAM     36
Name: indicator_id, dtype: int64

In [6]:
zillow_reg.dtypes

indicator_id            object
region_id               object
date            datetime64[ns]
value                  float64
dtype: object

In [7]:
zillow_reg['region_id'].unique()

array(['102001'], dtype=object)

In [8]:
zillow_reg['indicator_id'].unique()

array(['ZSFH', 'ZCON', 'ZATT', 'ZALL', 'ZABT', 'Z5BR', 'Z4BR', 'Z3BR',
       'Z2BR', 'Z1BR', 'SSSW', 'SSSM', 'SSAW', 'SSAM', 'SRSW', 'SRSM',
       'SRAW', 'SRAM', 'SASW', 'SASM', 'SAAW', 'SAAM', 'RSSA', 'RSNA',
       'NSAW', 'NSAM', 'NRAW', 'NRAM', 'MSAW', 'MSAM', 'MRAW', 'MRAM',
       'LSSW', 'LSSM', 'LSAW', 'LSAM', 'LRSW', 'LRSM', 'LRAW', 'LRAM',
       'ISSW', 'ISSM', 'ISAW', 'ISAM', 'IRSW', 'IRSM', 'IRAW', 'IRAM',
       'CSSW', 'CSSM', 'CSAW', 'CSAM', 'CRSW', 'CRSM', 'CRAW', 'CRAM'],
      dtype=object)

In [9]:
zillow_ind=quandl.get_table('ZILLOW/INDICATORS',paginate=True)
zillow_ind

,indicator_id,indicator,category
None,,,
0,ZSFH,ZHVI Single-Family Homes Time Series ($),Home values
1,ZCON,ZHVI Condo/Co-op Time Series ($),Home values
2,ZATT,ZHVI All Homes- Top Tier Time Series ($),Home values
3,ZALL,"ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)",Home values
4,ZABT,ZHVI All Homes- Bottom Tier Time Series ($),Home values
5,Z5BR,ZHVI 5+ Bedroom Time Series ($),Home values
6,Z4BR,ZHVI 4-Bedroom Time Series ($),Home values
7,Z3BR,ZHVI 3-Bedroom Time Series ($),Home values
8,Z2BR,ZHVI 2-Bedroom Time Series ($),Home values
9,Z1BR,ZHVI 1-Bedroom Time Series ($),Home values
10,SSSW,"Median Sale Price (Smooth, SFR only, Weekly View)",Inventory and sales
11,SSSM,"Median Sale Price (Smooth, SFR only, Monthly)",Inventory and sales
12,SSAW,"Median Sale Price (Smooth, All Homes, Weekly View)",Inventory and sales
13,SSAM,"Median Sale Price (Smooth, All Homes, Monthly)",Inventory and sales
14,SRSW,"Median Sale Price (Raw, SFR only, Weekly View)",Inventory and sales
15,SRSM,"Median Sale Price (Raw, SFR only, Monthly)",Inventory and sales
16,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",Inventory and sales
17,SRAM,"Median Sale Price (Raw, All Homes, Monthly)",Inventory and sales
18,SASW,"Median Sale Price (Smooth & Seasonally Adjusted, SFR only, Weekly View)",Inventory and sales
19,SASM,"Median Sale Price (Smooth & Seasonally Adjusted, SFR only, Monthly)",Inventory and sales
20,SAAW,"Median Sale Price (Smooth & Seasonally Adjusted, All Homes, Weekly View)",Inventory and sales
21,SAAM,"Median Sale Price (Smooth & Seasonally Adjusted, All Homes, Monthly)",Inventory and sales
22,RSSA,"ZORI (Smoothed, Seasonally Adjusted): All Homes Plus Multifamily Time Series ($)",Rentals
23,RSNA,ZORI (Smoothed): All Homes Plus Multifamily Time Series ($),Rentals
24,NSAW,"Median Days to Pending (Smooth, All Homes, Weekly View)",Inventory and sales
25,NSAM,"Median Days to Pending (Smooth, All Homes, Monthly)",Inventory and sales
26,NRAW,"Median Days to Pending (Raw, All Homes, Weekly View)",Inventory and sales
27,NRAM,"Median Days to Pending (Raw, All Homes, Monthly)",Inventory and sales
28,MSAW,"Mean Days to Pending (Smooth, All Homes, Weekly View)",Inventory and sales
29,MSAM,"Mean Days to Pending (Smooth, All Homes, Monthly)",Inventory and sales
30,MRAW,"Mean Days to Pending (Raw, All Homes, Weekly View)",Inventory and sales
31,MRAM,"Mean Days to Pending (Raw, All Homes, Monthly)",Inventory and sales
32,LSSW,"Median List Price (Smooth, SFR Only, Weekly View)",Inventory and sales
33,LSSM,"Median List Price (Smooth, SFR Only, Monthly)",Inventory and sales
34,LSAW,"Median List Price (Smooth, All Homes, Weekly View)",Inventory and sales
35,LSAM,"Median List Price (Smooth, All Homes, Monthly)",Inventory and sales
36,LRSW,"Median List Price (Raw, SFR Only, Weekly View)",Inventory and sales
37,LRSM,"Median List Price (Raw, SFR Only, Monthly)",Inventory and sales
38,LRAW,"Median List Price (Raw, All Homes, Weekly View)",Inventory and sales
39,LRAM,"Median List Price (Raw, All Homes, Monthly)",Inventory and sales
40,ISSW,"For-Sale Inventory (Smooth, SFR only, Weekly View)",Inventory and sales
41,ISSM,"For-Sale Inventory (Smooth, SFR only, Monthly)",Inventory and sales
42,ISAW,"For-Sale Inventory (Smooth, All Homes, Weekly View)",Inventory and sales
43,ISAM,"For-Sale Inventory (Smooth, All Homes, Monthly)",Inventory and sales
44,IRSW,"For-sale Inventory (Raw, SFR only, Weekly View)",Inventory and sales
45,IRSM,"For-sale Inventory (Raw, SFR only, Monthly)",Inventory and sales
46,IRAW,"For-Sale Inventory (Raw, All Homes, Weekly View)",Inventory and sales
47,IRAM,"For-Sale Inventory (Raw, All Homes, Monthly)",Inventory and sales
48,CSSW,"Share of Listings With a Price Cut (Smooth, SFR Only, Weekly View)",Inventory and sales
49,CSSM,"Share of Listings With a Price Cut (Smooth, SFR Only, Monthly)",Inventory and sales
50,CSAW,"Share of Listings With a Price Cut (Smooth, All Homes, Weekly View)",Inventory and sales
51,CSAM,"Share of Listings With a Price Cut (Smooth, All Homes, Monthly)",Inventory and sales
52,CRSW,"Share of Listings With a Price Cut (Raw, SFR Only, Weekly View)",Inventory and sales
53,CRSM,"Share of Listings With a Price Cut (Raw, SFR Only, Monthly)",Inventory and sales
54,CRAW,"Share of Listings With a Price Cut (Raw, All Homes, Weekly View)",Inventory and sales
55,CRAM,"Share of Listings With a Price Cut (Raw, All Homes, Monthly)",Inventory and sales

In [10]:
y=quandl.get_table('ZILLOW/',indicator_id='CRAM',paginate=True)
y

QuandlError: (Status 404) Something went wrong. Please try again. If you continue to have problems, please contact us at connect@quandl.com.

In [ ]:
pd.set_option('display.max_colwidth', None)

### Region table:

In [12]:
zillow_regions=quandl.get_table('ZILLOW/REGIONS',paginate=True)
zillow_regions

      region_id region_type                                           region
None
0         99999         zip   98847; WA; Wenatchee; Chelan County; Peshastin
1         99998         zip              98846; WA; Okanogan County; Pateros
2         99997         zip  98845; WA; Wenatchee; Douglas County; Palisades
3         99996         zip             98844; WA; Okanogan County; Oroville
4         99995         zip     98843; WA; Wenatchee; Douglas County; Orondo
...         ...         ...                                              ...
79169    100000         zip      98848; WA; Moses Lake; Grant County; Quincy
79170     10000        city                  Bloomington; MD; Garrett County
79171      1000      county                      Echols County; GA; Valdosta
79172       100      county               Bibb County; AL; Birmingham-Hoover
79173        10       state                                     Colorado; CO

[79174 rows x 3 columns]

In [13]:
zillow_regions[zillow_regions['region_type']=='metro']['region']

None
23017                         Zapata, TX; TX
23018    Wisconsin Rapids-Marshfield, WI; WI
23019                     Winnemucca, NV; NV
23020                    Weatherford, OK; OK
23021                 Vineyard Haven, MA; MA
                        ...
51608                            Ada, OK; OK
51610                        Abilene, TX; TX
51611                       Aberdeen, WA; WA
51612                       Aberdeen, SD; SD
78794                          United States
Name: region, Length: 915, dtype: object

In [14]:
list_reg=[list(zillow_regions['region_type'].unique())]
list_reg

[['zip', 'city', 'county', 'neigh', 'state', 'metro']]

In [15]:
#list_reg=[list(zillow_regions['region_type'].unique())]

#for i in range (len(zillow_regions['region_type'].value_counts())):
    
    

new = zillow_regions[zillow_regions['region_type']=='zip']['region'].str.split(";", n = 4, expand = True)

zillow_regions["zipcode"]= new[0]

zillow_regions["state"]= new[1]

zillow_regions["city"]= new[2]

zillow_regions["county"]= new[3]

zillow_regions["country"]= new[4]

In [16]:
new1 = zillow_regions[zillow_regions['region_type']=='city']['region'].str.split(";", n = 3, expand = True)

zillow_regions["city"]= new1[0]

zillow_regions["state"]= new1[1]

zillow_regions["county"]= new1[3]

In [17]:
new1 = zillow_regions[zillow_regions['region_type']=='county']['region'].str.split(";", n = 1, expand = True)

zillow_regions["county"]= new1[0]

zillow_regions["state"]= new1[1]

In [18]:
new1 = zillow_regions[zillow_regions['region_type']=='county']['metro'].str.split(";", n = 1, expand = True)

zillow_regions["metro"]= new1[0]

zillow_regions["state"]= new1[1]

KeyError: 'metro'

In [ ]:
zillow_regions

In [19]:
zillow_regions[zillow_regions['region_type']=='zip']

,region_id,region_type,region,zipcode,state,city,county,country
None,,,,,,,,
0,99999,zip,98847; WA; Wenatchee; Chelan County; Peshastin,98847,NaN,NaN,NaN,Peshastin
1,99998,zip,98846; WA; Okanogan County; Pateros,98846,NaN,NaN,NaN,None
2,99997,zip,98845; WA; Wenatchee; Douglas County; Palisades,98845,NaN,NaN,NaN,Palisades
3,99996,zip,98844; WA; Okanogan County; Oroville,98844,NaN,NaN,NaN,None
4,99995,zip,98843; WA; Wenatchee; Douglas County; Orondo,98843,NaN,NaN,NaN,Orondo
...,...,...,...,...,...,...,...,...
79165,100004,zip,98852; WA; Okanogan County; Winthrop,98852,NaN,NaN,NaN,None
79166,100003,zip,98851; WA; Moses Lake; Grant County; Soap Lake,98851,NaN,NaN,NaN,Soap Lake
79167,100002,zip,98850; WA; Wenatchee; Douglas County; Rock Island,98850,NaN,NaN,NaN,Rock Island
79168,100001,zip,98849; WA; Okanogan County; Riverside,98849,NaN,NaN,NaN,None
79169,100000,zip,98848; WA; Moses Lake; Grant County; Quincy,98848,NaN,NaN,NaN,Quincy

In [20]:
zillow_regions['region_type'].value_counts()

zip       31158
city      27457
neigh     16709
county     2884
metro       915
state        51
Name: region_type, dtype: int64

### Filtering region column

In [21]:
new = zillow_regions["region"].str.split(";", n = 4, expand = True)
  
# making separate first name column from new data frame
zillow_regions["zipcode"]= new[0]
  
# making separate last name column from new data frame
zillow_regions["state"]= new[1]

zillow_regions["city"]= new[2]

zillow_regions["county"]= new[3]

zillow_regions["country"]= new[4]

In [16]:
zillow_regions[zillow_regions['region_type']=='zip']



#test for zip (numbers), state(2 letters), county(contains word county)
#loop throw every row and that region column
#for x in zillow region, x[''] and iterate through list

,region_id,region_type,region,zipcode,state,city,county,country
None,,,,,,,,
0,99999,zip,98847; WA; Wenatchee; Chelan County; Peshastin,98847,WA,Wenatchee,Chelan County,Peshastin
1,99998,zip,98846; WA; Okanogan County; Pateros,98846,WA,Okanogan County,Pateros,None
2,99997,zip,98845; WA; Wenatchee; Douglas County; Palisades,98845,WA,Wenatchee,Douglas County,Palisades
3,99996,zip,98844; WA; Okanogan County; Oroville,98844,WA,Okanogan County,Oroville,None
4,99995,zip,98843; WA; Wenatchee; Douglas County; Orondo,98843,WA,Wenatchee,Douglas County,Orondo
...,...,...,...,...,...,...,...,...
79165,100004,zip,98852; WA; Okanogan County; Winthrop,98852,WA,Okanogan County,Winthrop,None
79166,100003,zip,98851; WA; Moses Lake; Grant County; Soap Lake,98851,WA,Moses Lake,Grant County,Soap Lake
79167,100002,zip,98850; WA; Wenatchee; Douglas County; Rock Island,98850,WA,Wenatchee,Douglas County,Rock Island
79168,100001,zip,98849; WA; Okanogan County; Riverside,98849,WA,Okanogan County,Riverside,None
79169,100000,zip,98848; WA; Moses Lake; Grant County; Quincy,98848,WA,Moses Lake,Grant County,Quincy

In [ ]:
zillow_regions['region_type']==''

In [41]:
zillow_regions['zipcode'].value_counts()

Downtown       170
Riverside       40
Franklin        32
Springfield     32
Washington      31
              ...
Wilkinson        1
74438            1
11558            1
29658            1
79411            1
Name: zipcode, Length: 63128, dtype: int64

### Changing datatypes of the columns:

In [28]:
zillow_regions['region_id']=zillow_regions['region_id'].astype('int64')

In [30]:
zillow_regions.dtypes

region_id       int64
region_type    object
region         object
dtype: object