### Heroes Of Pymoli Data Analysis

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [112]:
totalPlayers = purchase_data["SN"].nunique()

numofPlayers = pd.DataFrame({'Total Players': [totalPlayers]})
numofPlayers

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [149]:
analysis = pd.DataFrame({'Number of Unique Items': [purchase_data['Item ID'].nunique()],
                         'Average Price' : [purchase_data['Price'].mean()],
                         'Number of Purchases' : [purchase_data['Purchase ID'].count()],
                         'Total Revenue' : [purchase_data['Price'].sum()]
                        })
analysis.style.format({"Average Price": "${:,.2f}",
                       "Total Revenue": "${:,.2f}"
                      })

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [151]:
gender_demo = purchase_data.groupby("Gender")

gender_count = gender_demo.nunique()["SN"]
gender_percent = purchase_data["Gender"].value_counts(normalize=True) * 100

gender = pd.DataFrame({"Total Count": gender_count,
                       "Percentage of Players": gender_percent
                      })

gender.style.format({"Percentage of Players": "{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [152]:
purchase_count = gender_demo["Purchase ID"].count()
avg_purchase_price = gender_demo["Price"].mean()
purchase_total = gender_demo["Price"].sum()
purchase_per = purchase_total/gender_count


purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value": purchase_total,
                                    "Avg Total Purchase/Person": purchase_per
                                   })

purchasing_analysis.style.format({"Average Purchase Price": "${:,.2f}",
                                  "Total Purchase Value": "${:,.2f}",
                                  "Avg Total Purchase/Person": "${:,.2f}"
                                 })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [154]:
age_bins = [0, 9.5, 14.5, 19.5, 24.5, 29.5, 34.5, 39.5, 100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)

age_group = purchase_data.groupby("Age Group")
age_count = age_group["SN"].nunique()
age_percentage =  age_count/totalPlayers * 100

age_demo = pd.DataFrame({"Total Count": age_count,
                         "Percentage of Players": age_percentage
                        })

age_demo.style.format({"Percentage of Players": "{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [126]:
purchase_count_age = age_group["Purchase ID"].count()
avg_purchase_price = age_group["Price"].mean()
total_purchase_val = age_group["Price"].sum()
avgtotal_per = total_purchase_val/age_count

purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count_age,
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value": total_purchase_val,
                                    "Avg Total Purchase/Person": avgtotal_per
                                   })

purchasing_analysis.style.format({"Average Purchase Price": "${:,.2f}",
                                  "Total Purchase Value" : "${:,.2f}",
                                  "Avg Total Purchase/Person": "${:,.2f}"
                                 })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [137]:
spenders = purchase_data.groupby("SN")

spender_purchase_count = spenders["Purchase ID"].count()
spender_avg_purchase = spenders["Price"].mean()
spender_total = spenders["Price"].sum()

spender_demo = pd.DataFrame({"Purchase Count": spender_purchase_count,
                             "Average Purchase Price": spender_avg_purchase,
                             "Total Purchase Value": spender_total,
                            })

spender_format = spender_demo.sort_values(by=["Total Purchase Value"],ascending = False).head()
spender_format.style.format({"Average Purchase Price": "${:,.2f}",
                             "Total Purchase Value": "${:,.2f}"
                            })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [145]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_info = items.groupby(["Item ID", "Item Name"])

item_purchase_count = item_info["Item Name"].count()
item_total_purchase = item_info["Price"].sum()
item_price = item_total_purchase/item_purchase_count

popular_items = pd.DataFrame({"Purchase Count": item_purchase_count,
                              "Item Price": item_price,
                              "Total Purchase Value": item_total_purchase
                             })
sort_popular_items = popular_items.sort_values(by=["Purchase Count"],ascending=False).head()
sort_popular_items.style.format({"Item Price": "${:,.2f}",
                                 "Total Purchase Value": "${:,.2f}"
                                })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [148]:
sort_profitable = popular_items.sort_values(by=["Total Purchase Value"], ascending=False).head()
sort_profitable.style.format({"Item Price": "${:,.2f}",
                              "Total Purchase Value": "${:,.2f}"
                            })